
The following options are available for ticket #{id}, at present:

{foreach:valid_actions:"\t"+value+"\n"}

For more information on using these options, reply to this message with the word "help" in the subject.

