
This ticket is ready for testing.{if:messages:"  Please see the comments below for details."}

You may mark this ticket as tested simply by replying to this email with "#{id}: test" in the subject.  

This is normally accomplished simply by hitting reply.

You may enter hours worked by putting "hours: nnn" in the body, where nnn is the number of hours worked.

You may also place any comments or useful information in the body of the reply.

{if:messages:"Comments:\n\n"}
{foreach:messages:value+"\n"}